# To get started with Dependabot, see the documentation:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Habilita as atualizações do Dependabot para GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/" # Onde os arquivos do workflow (.yml) estão localizados
    schedule:
      interval: "weekly" # Verifica por atualizações semanalmente
    target-branch: "main" # Cria Pull Requests para a branch 'main'
    labels:
      - "dependencies" # Adiciona um label 'dependencies' aos PRs
      - "github-actions" # Adiciona um label específico para ações do GitHub
    commit-message:
      prefix: "fix" # Prefixo para as mensagens de commit dos PRs
      include: "scope" # Inclui o nome da ação no escopo da mensagem
